<div class="about-us-container">
    <div style="display: grid;justify-content: end;">
        <header (click)="clickHome()"
            style="text-align: center;font-family: Jost;font-size: 1.5rem;cursor: pointer;;padding: .8rem;border-radius: 12px;display: grid; background-color: #333;justify-content: start;">
            <mat-icon>home</mat-icon></header>

    </div>
    <img style="height: 100%;width: 100%;border-radius: 12px;margin: .4rem 0;" src="assets/images/au.jpg" alt="">
    <section class="main-content">
        <div class="about-us-section">
            <h2>About Us</h2>
            <p style="color: rgb(154, 153, 153);;text-align: left;font-size: 1rem;
            line-height: 1.5;font-weight: 300;letter-spacing: .5px;">Welcome to Cinema Kompany, a cinematic powerhouse
                founded in 2011 by Harikrishnan R and Creative Director Avinash G Nair. Formerly known as BOOM Cinemaz,
                our brand has earned widespread acclaim for successfully promoting over 18 films in Malayalam and Tamil.
            </p>
        </div>
        <p style="display: grid;color: rgb(154, 153, 153); margin:1rem 1rem;text-align: left;font-size: 1rem;
        line-height: 1.5;font-weight: 300;letter-spacing: .4px;">

            <br>
            <br>
            In 2024, BOOM Cinemaz took a bold step forward by merging with DIB Global's sister concern, DIB Global Entertainments. This strategic alliance sparked a transformative rebranding initiative, giving birth to Cinema Kompany. As an essential part of DIB Global Entertainments, we are dedicated to revolutionizing the entertainment landscape.
            <br>
            <br>
            Cinema Kompany is set to make waves in the OTT platform space, with exciting plans to deliver captivating, intimate content that resonates with our discerning audience. We're thrilled to announce the upcoming launch of our YouTube entertainment channel by mid-next year. This channel will be a vibrant hub for short films, unplugged performances, and engaging content, all curated under the creative direction of award-winning writer Arun Sukumaran Nair.
            <br>
            <br>
            DIB Global, through Cinema Kompany, is not only synonymous with cinematic excellence but also a dominant force in movie charting for theaters in Kollam. Our operations are expanding, reaching every corner of Kerala’s dynamic entertainment landscape.
            <br>
            <br>
            Join us as we continue to shape the future of entertainment, blending creativity, innovation, and an unwavering passion for storytelling. 
            Welcome to Cinema Kompany, where every frame tells a compelling story with unmatched professionalism and dedication.
            <br>
            <br>
            Contact us &#64; info&#64;cinemakompany.com
        </p>
        <!-- Add more sections as needed -->
    </section>
    <!-- <footer class="footer">© 2024 CinemaKompany. All rights reserved.</footer> -->
</div>








<!-- <div style="display: grid;">



    <p
        style="display: grid;text-align: justify;margin:2rem 1rem;text-align: center;font-family: 'Jost';font-size: large;">

        <br>
        <br>
        In a strategic move that marked a pivotal moment in our evolution, BOOM Cinemaz seamlessly merged with DIB
        Global's
        sister concern, DIB Global Entertainments, in 2023. This strategic alliance prompted a rebranding initiative,
        giving
        rise to the establishment of Cinema Kompany. As an integral component of DIB Global Entertainments, we stand
        committed to redefining the entertainment landscape.
        <br>
        <br>
        Looking towards the future, Cinema Kompany is poised to make a significant impact in the realm of OTT platforms.
        We
        have strategic plans to introduce captivating content on a more intimate scale, anticipating the evolving
        preferences of our discerning audience. We are pleased to announce the impending launch of our YouTube
        entertainment
        channel by the end of this year. This channel will serve as a dynamic hub for short films, unplugged versions,
        and
        engaging content, curated under the creative vision of the Award-winning writer, Arun Sukumaran Nair.
        <br>
        <br>
        DIB Global, steering the course through Cinema Kompany, not only signifies a name associated with cinematic
        excellence but also stands as a formidable presence in movie charting for theaters in Kollam. Our operations are
        expanding, reaching across the dynamic landscape of Kerala.
        <br>
        <br>
        Embark on this journey with us as we continue to shape the future of entertainment, seamlessly blending
        creativity,
        innovation, and an unwavering passion for storytelling. Welcome to Cinema Kompany, where every frame narrates a
        compelling tale with the utmost professionalism and dedication.
    </p>
</div> -->