<div #scrollTarget id="scrollTarget">


  <div style="display: grid;grid-template-columns: .8fr .4fr;margin: 1rem 0;">
    <p
      style="justify-content: start; font-family: 'Jost', sans-serif;letter-spacing: 0.02em;margin: 0;font-size: 28px;font-weight: 600;line-height: 36px;font-style: normal;padding: .5rem 0;margin: 0 1rem;">
      Now in OTT</p>
    <button (click)="openMoreVideosModal()" 
      style="border: none;justify-self: end;  align-items: center; font-family: 'Jost', sans-serif;letter-spacing: 0.02em;margin: 0 2rem;font-size: 14px;font-weight: bold;;font-style: normal;text-transform: uppercase;background-color: #e50916;color: white;padding: 0 1.5rem;">See More</button>

  </div>

  <div class="main">

    <div (click)="clickNowInTheatres(movie)" class="carousel-slide" *ngFor="let movie of movies; let i = index"
      #scrollContainer>
      <div class="slide-content" #content>
        <!-- <div class="background-image"></div> -->
        <img *ngIf="movie.imageURL" src="https://cinemakompany.com/{{movie.imageURL}}" alt="Slide {{i + 1}}">

        <div class="play-icon">
          <mat-icon>play_arrow</mat-icon>
        </div>
        <div style="position: absolute;top: 85%;right: 10%;align-items: center;">

          <span style="padding:0 .4rem;" class="material-icons">
            favorite_border
          </span>
          <mat-icon style="padding:0 .4rem;">share</mat-icon>
          <span style="padding:0 .4rem;" class="material-icons">
            add
          </span>

        </div>
      </div>
      <p
        style="display: grid;text-align: start;padding: .8rem;text-transform: capitalize; font-family: 'Jost';letter-spacing: 0.02em;margin: 0;font-size: 20px;">
        {{ movie?.title }}</p>

      <div class="star-rating">
        <span *ngFor="let star of getStars(movie.rating)" class="star" [ngClass]="{'filled': star.filled}">&#9733;</span>
      </div>
      <div
        style="display: grid;grid-template-columns: auto auto;margin: 0 .8rem;grid-auto-flow: column;align-items: center;">
        <p
          style="margin: 0;text-transform: capitalize; font-family: 'Jost', sans-serif;letter-spacing: 0.02em;margin: 0;font-size: 16px;line-height: normal;color: #cecfd1;text-align: left;overflow: auto;">
          {{ movie?.platForm }} </p>
        <div style="display: grid;grid-template-columns: min-content auto;align-items: center;">
          <mat-icon style="font-size: .5rem;align-items: center;display: grid;align-items: center;">circle</mat-icon>
          <span style=" text-align: start;color: #e50916;font-weight: 600;">{{ movie?.type }} </span>
        </div>



      </div>



      <p>{{ movie?.subDiscription }}</p>
    </div>
  </div>
</div>