<div class="top-section">
    <div style="display: grid;">
        <img style="justify-self: center;" [src]="imageSource" alt="Image">
        <p style="font-family: Jost;font-size: 2rem;font-weight: 700;padding: 1rem 0;text-align: start;">{{ movieName }}
        </p>
        <p
            style="text-align: start; font-family: Jost;font-weight: 400;font-size: 1.2rem; word-wrap: break-word;overflow-wrap: break-word;">
            {{ description }}</p>
       
    </div>
    <!-- <div style="display: grid;">
        <div style="display: grid;grid-template-rows: min-content;">
            <p style="text-align: justify;" *ngFor="let paragraph of review | splitParagraph:250">{{ paragraph }}</p>
        </div>
    </div> -->
    <div style="text-align: justify; text-decoration: dotted; color: #c4c4c4;font-size: 1.2rem; word-wrap: break-word;overflow-wrap: break-word;">
        <p>{{ news }}</p><br>
        <p>{{ paragrapgh2 }}</p><br>
        <p>{{ paragrapgh3 }}</p><br>
        <p>{{ paragrapgh4 }}</p><br>
        <p>{{ paragrapgh5 }}</p><br>
        <p>{{ paragrapgh6 }}</p><br>
        <p>{{ paragrapgh7 }}</p><br>
    </div>
    
    
</div>
<div class="bottom-section">
    <button (click)="onMoreReviewClick()"
        style="display: grid;width: 65%;padding: 1rem;justify-self: center;border: 1px solid black;border-radius: 12px;font-family: Poppins;font-weight: bold;cursor: pointer;">More
        News</button>

</div>

<!-- <button (click)="shareContent()">Share on WhatsApp</button>


<button (click)="copyToClipboard()">Copy Shareable Link</button> -->
