<p style=" font-family: 'Jost', sans-serif;font-size: 28px;font-weight: 600;margin: 0 1rem  1rem 1rem;padding: .5rem;">
  Promo</p>
<div class="main">

  <div class="carousel-container" [@slideAnimation]="currentIndex">
    <div *ngFor="let slide of slides; let i = index" [ngClass]="{ 'active': i === currentIndex }" class="carousel-slide"
      (touchstart)="onTouchStart($event)">
      <!-- <div class="gradient-overlay"> -->
        <img class="image" src="https://cinemakompany.com/{{slide.image}}" alt="Slide {{ slide.id }}">
        <!-- <div class="gradient"></div> -->
      <!-- </div> -->
    </div>
  </div>



  <!-- Center Display -->
  <div class="center-display">

    <img (click)="handleTopButtonClick()" class="previous-image" [src]="getPreviousImage()" alt="Previous Slide">
    <img class="current-image" [src]="getCurrentImage()" alt="Current Slide">
    <img (click)="handleBottomButtonClick()" class="next-image" [src]="getNextImage()" alt="Next Slide">
    <!-- <button class="bottom-button" (click)="handleBottomButtonClick()"><mat-icon>keyboard_arrow_right</mat-icon></button> -->
  </div>

  <div style="position: absolute;right: 6%;top: 3%;z-index: 99;opacity: .7;">
    <button class="top-button" (click)="handleBottomButtonClick()">
      <mat-icon
        style="display: grid;font-size: 5rem;height: 5rem;width: 5rem;background-color: transparent;color: red;font-weight: 600;">keyboard_arrow_up</mat-icon>
    </button>

  </div>


  <div style="position: absolute;right: 6%;bottom: 12%;;z-index: 99;opacity: .7;">
    <button class="bottom-button" (click)="handleTopButtonClick()">
      <mat-icon
        style="display: grid;font-size: 5rem;height: 5rem;width: 5rem;background-color: transparent;color: red;font-weight: 600;">keyboard_arrow_down</mat-icon>
    </button>

  </div>
</div>