.movie-card {
    display: grid;
    background-color: #161616;

    grid-template-rows: .7fr .3fr;
    justify-items: center;
    // border: 1px solid #ccc;
    margin: 0.5rem;
    padding: .5rem;
    border-radius: 8px;
    overflow: auto;

    img {
        width: 100px;
        /* Adjust the size as per your design */
        height: 150px;
        /* Adjust the size as per your design */
        margin-right: 1rem;
        object-fit: cover;
        border-radius: 8px;
    }

    .card-content {
        flex: 1;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    p {
        margin: 0.2rem 0;
    }
}

.mat-dialog-content {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}

button[mat-icon-button] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.image {
    height: 100% !important;
    width: 10rem !important;
}


@media screen and (min-width :650px) {
    .image {
        height: 100% !important;
        width: 10rem !important;
    }
    
}