.carousel-container {
  position: relative;
  width: 100vw;
  height: 11rem;
  /* Adjust the height as needed */
  overflow: hidden;

}

@media screen and (min-width :540px) {
  .carousel-container {
    height: 60vh;
    width: 100vw;
  }
}


.carousel-slide:nth-child(1) .background-image {
  opacity: 0.8;
}

.carousel-slide:nth-child(2) .background-image {
  opacity: 0.8;
}

.carousel-wrapper {
  display: flex;
  width: 100vw;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;



}

.background-image::before {
  content: '';
  position: absolute;

  top: 0;
  // left: -10px;
  // right: -10px;
  // bottom: -10px;
  z-index: 1;
  background: linear-gradient(to bottom,
      rgba(25, 25, 25, 0) 20%,
      rgba(25, 25, 25, .1) 30%,
      rgba(25, 25, 25, 0.56) 50%,
      rgba(25, 25, 25, 0.76) 50%,
      rgba(25, 25, 25, 0.98) 80%,
      rgba(25, 25, 25) 90%);
}



.thumbnail {
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(-43%, -20%);
  z-index: 2;
}

.thumbnail img {
  border: 1px solid rgb(79, 79, 79);
  position: relative;
  width: 80%;
  left: 50%;
  bottom: 20%;
  height: 100%;
  overflow: hidden;
}


.center-image {
  position: absolute;
  top: 80%;
  height: 5rem;
  width: 17rem;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 99;
  overflow: hidden;
}