<footer class="footer">

    <img height="100%" width="100%" src="assets/images/Final Footer.jpeg" alt="">
        <div style="display: grid;">

            <img (click)="onFbClick()" style="height: 8%;width: 4%;position: absolute;top: 65%;left: 21%;cursor: pointer;" src="assets/images/fbb.png"
            alt="">
        </div>
        <div style="display: grid;">
            <!-- <img style="height: 8%;width: 8%;position: absolute;top: 60%;" src="assets/images/fbb.png"> -->
            <img (click)="onTwitterClick()" style="height: 8%;width: 4%;position: absolute;top: 65%;left: 26%;cursor: pointer;" src="assets/images/twitter.png"
                alt="">
        </div>
        <div style="display: grid;">


            <img (click)="onInstaClick()" style="height: 8%;width: 3.5%;position: absolute;top: 65%;left:31%;cursor: pointer;" src="assets/images/instaa.png"
                alt="">
        </div>

    <!-- </div> -->



</footer>
<!-- <div
        style="font-size: .3rem; font-weight: 100; color: white;text-align: center;font-size: 1.2rem;position: relative;top: 200px;">
        &copy; Boom Cinemas Private Ltd. All rights reserved.
    </div> -->