:host {
    // border-top: 1px solid #ddd;
    // justify-content: center;
    display: grid;
    align-items: end;
    // padding: 2rem 0 15rem 0;
    // background-color: #221f1f;
    // background: url('./../../../.assets/images/footerBackground.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    
  }
  .footer {
    
    // position: absolute;
    position: relative;

 
    color: #fff;
    // padding: 60px 0 100px 0;

    /* 'cover' ensures the background image covers the entire container */
  }
  