:host {
  display: grid;
  // grid-gap: 0.25rem;
  height: 100%;
  // grid-template-rows: .1fr 1fr .1fr;

}

.menu-wrapper,
.footer-wrapper,
.header-wrapper {
  background-color: blur(10px);
}

.header-wrapper,
.menu-wrapper,
.content-wrapper,
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  // margin: .5rem;
  @media screen and (max-width: 1268px) {
    grid-template-columns: 1fr;
  }
}

.content-wrapper {
  @media screen and (max-width: 1268px) {
    padding: 0 0.25rem;
  }
}
