<div style="display: grid;row-gap: 3rem;">
  
    <div style="display: grid;">
        <app-carousel></app-carousel>
    </div>

    <div id="nowInTheatresContent" style="display: grid;">
        <app-now-in-theatres></app-now-in-theatres>
    </div>
    <div id="forthcomingReleasesContent" style="display: grid;;">
        <app-top-regional-shows></app-top-regional-shows>
    </div>
<!--    
    <div id="ottContent" style="display: grid;">
        <app-image-carousel></app-image-carousel>
    </div>
    -->
    <div id="ottContent" style="display: grid;">
        <app-now-in-ott></app-now-in-ott>
    </div>
    

    <!-- <div style="display: grid;">
        <app-vertical-carousel></app-vertical-carousel>
    </div> -->


</div>